<div class="main">
    <div class="bg">
        <div class="logo">
        </div>
        <div class="discover">
            Discover
        </div>
        <div class="songBook">
            Songbook
        </div>
        <div class="contactUs">
            Contact Us
        </div>

        <div class="search">
            <div class="searchIcon">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </div>
            <div class="loginOuter">
                <div class="loginInner">LogIn</div>
            </div>
        </div>
        <div class="content_1">
            Showcase and<br> develop your skills
        </div>
        <div class="content_2">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed



        </div>
    </div>
    <div class="mobileContent">

    </div>
    <div class="mobileShelf">
    </div>
    <div class="appStore"></div>
    <div class="playStore"></div>
    <div class="jamsOuter">
        <div class="arrow_left_jam"></div>

        <div class="jamsInner1">
            <div class="jamIcon"></div>
            <div class="jamText">Trending Recordings</div>
            <div class="seeall">
                <div class="seeallInner"><strong>SeeAll</strong></div>
            </div>
            <!-- <p>
                <font face="popins"> rhjntjbg</font>
            </p> -->
            <div class="jamPic"></div>
            <div class="jamPic1"></div>
            <div class="jamPic2"></div>
            <div class="jamPic3"></div>
        </div>
    </div>
    <div class="trendingRecordingsOuter">
        <div class="trendingRecordingsInner">
            <div class="jamIcon"></div>
            <div class="jamText">Trending Live Jams</div>
            <div class="seeall">
                <div class="seeallInner"><strong>SeeAll</strong></div>
            </div>
            <!-- <p>
                            <font face="popins"> rhjntjbg</font>
                        </p> -->
            <div class="jamPic"></div>
            <div class="jamPic1"></div>
            <div class="jamPic2"></div>
            <div class="jamPic3"></div>
        </div>
    </div>
    <div class="recommendedForYouOuter">
        <div class="recommendedForYouInner">
            <div class="jamIcon"></div>
            <div class="jamText">Recommended For You</div>
            <div class="seeall">
                <div class="seeallInner"><strong>SeeAll</strong></div>
            </div>
            <!-- <p>
                                <font face="popins"> rhjntjbg</font>
                            </p> -->
            <div class="jamPic"></div>
            <div class="jamPic1"></div>
            <div class="jamPic2"></div>
            <div class="jamPic3"></div>
        </div>
    </div>
    <div class="features"></div>
    <!-- <div class="jamsOuter2">

        <div class="jamsInner"> </div>
        <div class="jamIcon"></div>
        <div class="jamText">Trending Live Jams</div>
        <div class="seeall"></div>
    </div>
    <div class="jamsOuter">

        <div class="jamsInner"> </div>
        <div class="jamIcon"></div>
        <div class="jamText">Trending Live Jams</div>
        <div class="seeall"></div>
    </div> -->
</div>a