/* You can add global styles to this file, and also import other style files */

@font-face {
    src: url(assets/fonts/Poppins-Regular.ttf);
    font-family: "Poppins-Regular"
}

@font-face {
    src: url(assets/fonts/Poppins-Medium.ttf);
    font-family: "Poppins-Medium"
}